* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

a {
  color: #303133;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #43A047;
}

#app {
  max-width: 1080px;
  margin: 0 auto;
  padding: 16px 32px;
  font-weight: normal;
}

.mb-4 {
  margin-bottom: 16px;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.el-main {
  min-height: calc(100vh - 60px - 60px - 32px);
}

.el-empty .el-empty__image {
  display: none;
}

.el-empty .el-empty__description {
  margin-top: 0;
}
